$black = #2D2D2D;
$gray = #545D64;
$white = #EFF0EB;

$blue = #728AA2;
$light-blue = #B5C7DD;
$brown = #68492A;
$light-brown = #B88F71;


media--desktop() {
    @media (min-width: 768px) {
        {block}
    }
}


html,
body {
    background: $white;
    margin: 0;
    padding: 0;
}

html,
body,
.app {
    height: 100%;
    width: 100%;
}

h1, h2, h3, h4 {
    font-weight: 300;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: $brown;

    &:hover {
        color: $dark-brown;
    }
}

header {
    background: $black;
    color: $white;
    text-align: center;
    padding: 1px 0;
}

main {
    min-height: 100%;
    max-width: 100%;
}

.build-header {
    align-items: center;
    background: $brown;
    color: $white;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    width: 100%;

    h2 {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.build-content {
    +media--desktop() {
        padding: 0 30px;
    }
}

.browser-env-header {
    background: $blue;
    display: flex;
    justify-content: center;
    width: 100%;

    h3 {
        color: $white;
        margin-left: 5px;
        margin-right: 5px;
        text-transform: capitalize;
    }
}

.browser-env-captures {
    background: $gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;

    +media--desktop() {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 100%;
    }
}

.captures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 10px;
    max-width: 100%;

    h4 {
        color: $white;
        text-align: center;
        width: 100%;
    }
    ul {
        max-width: 100%;
    }
}

.capture {
    max-height: 480px;
    max-width: 100%;
}
