@import 'lib';


html,
body {
    background: $color-body-bg;
    font-family: $font-body;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

html,
body,
.app {
    height: 100%;
    width: 100%;
}

h1, h2, h3, h4 {
    font-weight: 300;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
}

pre code {
    font-size: 13px;
}

button {
    background: $color-secondary;
    border: 0;
    border-radius: 2px;
    color: $white;
    cursor: pointer;
    margin-left: 15px;
    padding: 10px;
    transition: background .1s;

    &:hover {
        background: $color-tertiary;
    }
}

a {
    color: $color-quarternary;
    text-decoration: none;
    transition: color .1s;

    &:hover {
        color: $color-primary;
    }
}

main {
    min-height: 100%;
    max-width: 100%;
}
