@import 'lib';


.builds {
    display: flex;
    justify-content: center;
    padding: 0 10px;
    flex-wrap: wrap;
}

.builds-build {
    align-items: flex-start;
    border: 1px solid $gray;
    border-radius: 2px;
    display: flex;
    height: 100px;
    justify-content: center;
    margin: 5px;
    transition: background .1s;
    width: 300px;

    &:hover {
        background: $color-tertiary;
        border-color: $color-tertiary;
        cursor: pointer;

        a {
            color: $white;
        }
    }
}

.builds-link {
    color: $black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 20px;
    width: 100%;

    p {
        margin: 5px 0;
    }
}

.builds-link-meta {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
}

.builds-created {
    width: 100%;
}
