@import 'lib';


.builds {
    display: flex;
    justify-content: center;
    padding: 0 10px;
    flex-wrap: wrap;
}

.builds-build {
    align-items: flex-start;
    border: 1px solid $gray;
    border-radius: 2px;
    display: flex;
    height: 98px;
    justify-content: center;
    margin: 5px;
    transition: background .1s;
    width: 300px;

    &:hover {
        background: $color-tertiary;
        border-color: $color-tertiary;
        cursor: pointer;

        a {
            color: $white;
        }
    }
}

.builds-link {
    border-left: 10px solid $color-secondary;
    color: $black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 20px;
    width: 100%;

    p {
        margin: 5px 0;
    }
}

.builds-link-meta {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}

.builds-created {
    width: 100%;
}

.builds-search {
    display: flex;
    justify-content: center;
    margin: 0 0 25px;
    width: 100%;

    input {
        text-align: center;
    }
}
