@import 'base.styl';

.landing {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -30px;
}

.landing-img {
    margin-top: -280px;
    width: 100%;
}

.landing-info {
    background: $color-secondary;
    color: $white;
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    margin-top: -280px;
    padding: 30px;
    width: 100%;

    h3 {
        width: 100%;
    }
}
