@import 'lib'


.build-list
  display flex
  justify-content center
  padding 0 10px
  flex-wrap wrap

.build-list-build
  align-items flex-start
  background $pure-white
  border 1px solid $gray
  border-radius 2px
  display flex
  height 98px
  justify-content center
  margin 5px
  transition background .1s
  width 300px

  &:hover
    background $color-tertiary
    border-color $color-tertiary
    cursor pointer

    a
      color $white

.build-list-link
  border-left 10px solid $color-secondary
  color $black
  display flex
  flex-wrap wrap
  justify-content center
  padding 10px 20px
  width 100%

  p
    margin 5px 0

.build-list-link-meta
  display flex
  justify-content space-between
  margin-bottom 20px
  width 100%

.build-list-repo-slug
  max-width 90%
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

.build-list-created
  width 100%

  .ion-clock
    margin-right 5px

.search
  display flex
  justify-content center
  margin 0 0 25px
  width 100%

  input
    text-align center
