@import 'lib';


.image-differ {
    display: flex;
    left: 0;
    margin: 0 auto;
    justify-content: center;
    opacity: 0;
    position: absolute;
    right: 0;
    transition: opacity .3s, z-index 0s .5s;
    z-index: -1;

    &.image-differ--visible {
        opacity: 1;
        transition: opacity .3s;
        z-index: 1;
    }
    img {
        object-fit: contain;
        object-position: 0 0;
    }
}
