@import 'lib'


.Select
  &.is-multi.has-value .Select-input
    height 0
    margin 0
    padding 0

  .Select-control
    border-bottom 0
    border-radius 0

    &hover
      cursor pointer

  .Select-placeholder,
  .Select-option
    padding-left 30px

  .Select-item
    background $color-secondary
    border-color $color-tertiary
    color $white
    text-transform capitalize

    &first-child
      margin-left 30px

  .Select-placeholder
    color $black

  .Select-option
    text-transform capitalize

    &.is-focused
      background $color-tertiary
      color $white
